<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
		<title>Server Dashboard</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/light.css"/>

	</head>
	<body>
	<!--导航-->
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index" class="navbar-brand">服务端面板</a>
			</div>
			<div class="navbar-collapse collapse ">
				<ul class="nav navbar-nav">
					<li><a href="client"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;客户端管理</a></li>
	                <li class="active"><a href="port"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;端口管理</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						  <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    admin
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu" aria-labelledby="dLabel">
						          <li><a href="client"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;客户端管理</a></li>
		                        <li><a href="port"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;端口管理</a></li>
						  </ul>
					</li>		
				</ul>
			</div>		
		</div>
	</nav>
	
	<div class="container">
		<div class="col-md-2">
			<ul class="list-group">
				<a href="#" class="list-group-item active">端口管理</a>
				<a href="user_search" class="list-group-item">端口搜索</a>

<!-- 				<a href="" role="button"  data-toggle="modal" data-target="#addPortModal">添加端口</a>
 -->		    </ul>
		</div>

		<div class="col-md-10">
	 		<div class="page-header">
	 			<h1>API服务状态 <span class="light green" tabindex="0"></span></h1>
	        </div>

		</div>






		<div class="col-md-10">
			      <div class="page-header">
				  <h1>端口管理</h1>
				</div>
				<ul class="nav nav-tabs">
				  <li role="presentation" class="active"><a href="#">端口列表</a></li>
				 </ul>
				<table class="table" style="text-align: center;">
				    <thead>
						<tr>
							<th style="text-align: center;">端口</th>
							<th style="text-align: center;">服务器地址</th>
	                        <th style="text-align: center;">端口类型</th>
	                        <th style="text-align: center;">操作</th>
	                        <th style="text-align: center;">监听状态</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4443</td>
							<td>1.1.1.1</td>
	                        <td>公共端口</td>
	                        <td>
	                        	<div class="dropdown line-div">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
								    操作
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								    <li><a href="#">关闭端口监听</a></li>
								    <!-- <li><a href="#">查看隧道信息</a></li> -->
								    <li role="presentation"><a href="" role="button"  data-toggle="modal" data-target="#proxyPortModal">查看端口信息</a></li>

								    <!-- <li><a href="#">锁定</a></li>
								    <li><a href="#">修改密码</a></li> -->
								  </ul>
								</div>
	                        </td>
	                         <td>
	                        	<span class="light green"></span>
	                        </td>
						</tr>
						
						<tr>
							<td>9080</td>
							<td>1.1.1.1</td>
	                        <td>代理端口</td>
	                        <td>
	                        	<div class="dropdown line-div">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
								    操作
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								    <li><a href="#">关闭端口监听</a></li>
								    <li role="presentation"><a href="" role="button"  data-toggle="modal" data-target="#myModal">查看端口信息</a></li>
								  </ul>
								</div>
	                        </td>
	                         <td>
	                        	<span class="light green"></span>
	                        </td>
						</tr>




						<tr>
							<td>9022</td>
							<td>1.1.1.1</td>
	                        <td>代理端口</td>
	                        <td>
	                        	<div class="dropdown line-div">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
								    操作
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								    <li><a href="#">关闭端口监听</a></li>
								    <li role="presentation"><a href="" role="button"  data-toggle="modal" data-target="#myModal">查看端口信息</a></li>
								  </ul>
								</div>
	                        </td>
	                         <td>
	                        	<span class="light red"></span>
	                        </td>
						</tr>

						




					</tbody>
				</table>
				<nav class="pull-right">
				  <ul class="pagination">
				    <li class="disabled">
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="#">1</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
		</div>
	</div>


<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">代理端口信息</h4>
	      </div>
	      
		<table class="table table-hover">
					<thead>
						<tr>
							<th>隧道ID</th>
							<th>所属客户端ID</th>
	                        <th>代理地址</th>
	                        <th>内网服务地址</th>
	                        <th>状态</th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr>
							<td>t002</td>
							<td>c001</td>
	                        <td>1.1.1.1:9022</td>
	                        <td>192.168.1.2:22</td>
	                        <td><span class="light green"></span></td>
						</tr> -->
						<tr>
							<td>t001</td>
							<td>c001</td>
	                        <td>1.1.1.1:9080</td>
	                        <td>192.168.1.1:80</td>
	                        <td><span class="light green"></span></td>
						</tr>
					</tbody>
				</table>
				
				<div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <!-- <button type="button" class="btn btn-primary">提交</button> -->
	      </div>
	    </div>
	  </div>
	</div>
<!-- proxyPortModal -->
	<div class="modal fade" id="proxyPortModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">公共端口信息</h4>
	      </div>
	      
		<table class="table table-hover">
					<thead>
						<tr>
							<th>客户端ID</th>
	                        <th>隧道数量</th>
	                        <th>状态</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>c001</td>
	                        <td>2</td>
	                        <td><span class="light green"></span></td>
						</tr>
						<tr>
							<td>c002</td>
	                        <td>1</td>
	                        <td><span class="light red"></span></td>
						</tr>
					</tbody>
				</table>
				
				<div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <!-- <button type="button" class="btn btn-primary">提交</button> -->
	      </div>
	    </div>
	  </div>
	</div>



	
	
	<!--footer-->
	<footer>
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <p>
	                     Copyright&nbsp;©&nbsp;2018&nbsp;&nbsp;gobomb.github.io&nbsp;&nbsp;
	                </p>
	            </div>
	        </div>
	    </div>
	</footer>
	<!--footer-->
		
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
      
	</script>
	</body>
</html>
